# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [33]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
School ID         int64
type             object
size              int64
budget            int64
dtype: object

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [5]:
total_schools = school_data_complete["School ID"].nunique()
total_students = school_data_complete["Student ID"].nunique()
total_budget = school_data["budget"].sum()
avg_math = school_data_complete["math_score"].mean()
avg_reading = school_data_complete["reading_score"].mean()
pass_math = school_data_complete[school_data_complete["math_score"]>=70]
pass_math_prc = (pass_math["math_score"].count()/total_students)*100
pass_reading = school_data_complete[school_data_complete["reading_score"]>=70]
pass_reading_prc = (pass_reading["reading_score"].count()/total_students)*100
total_pass = (avg_math + avg_reading)/2
d_summary = pd.DataFrame({
    "Total Schools":[total_schools],
    "Total Students":[total_students],
    "Total Budget":[total_budget],
    "Average Math Score":[avg_math],
    "Average Reading Score":[avg_reading],
    "% Passing Math":[pass_math_prc],
    "% Passing Reading":[pass_reading_prc],
    "% Overall Passing Rate":[total_pass]
},index=[0])
d_summary["Total Students"]=d_summary["Total Students"].map("{:,}".format)
d_summary["Total Budget"]=d_summary["Total Budget"].map("${:.2f}".format)
d_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170",$24649428.00,78.985371,81.87784,74.980853,85.805463,80.431606

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [47]:
grouped_schools=school_data_complete.groupby(["school_name"])
summed = grouped_schools.sum()
schools=school_data_complete[["school_name","type","size","budget"]].copy()
unique_schools=schools.drop_duplicates()
merge_table = pd.merge(unique_schools, summed, on="school_name")
merge_table.drop(["size_y",""], axis=1)

#/top_schools["Total Students"]

#top_schools=unique_schools.rename(columns={"school_name":"School Name","type":"School Type","size":"Total Students","budget":"Total School Budget"})

#top_schools["Per Student Budget"]=top_schools["Total School Budget"]/top_schools["Total Students"]

#group_schools["math_score"].sum()

#school_data_complete["math_score"].mean()    
    
#avg_reading = school_data_complete["reading_score"].mean()
#pass_math_prc = (pass_math["math_score"].count()/total_students)*100
#pass_reading_prc = (pass_reading["reading_score"].count()/total_students)*100
#total_pass = (avg_math + avg_reading)/2

,school_name,type,size_x,budget_x,Student ID,reading_score,math_score,School ID,budget_y
0,Huang High School,District,2917,1910635,4252986,236810,223528,0,5573322295
1,Figueroa High School,District,2949,1884411,12949059,239335,226223,2949,5557128039
2,Shelton High School,Charter,1761,1056600,11879706,147441,146796,3522,1860672600
3,Hernandez High School,District,4635,3022020,46090440,375131,358238,13905,14007062700
4,Griffin High School,Charter,1468,917500,19077394,123043,122360,5872,1346890000
5,Wilson High School,Charter,2283,1319574,33950493,191748,190115,11415,3012587442
6,Cabrera High School,Charter,1858,1081356,31477307,156027,154329,11148,2009159448
7,Bailey High School,District,4976,3124928,101303896,403225,383393,34832,15549641728
8,Holden High School,Charter,427,248087,9846620,35789,35784,3416,105933149
9,Pena High School,Charter,962,585858,22851829,80851,80654,8658,563595396
10,Wright High School,Charter,1800,1049400,45243900,151119,150628,18000,1888920000
11,Rodriguez High School,District,3999,2547363,112111965,322898,307294,43989,10186904637
12,Johnson High School,District,4761,3094650,154327815,385481,366942,57132,14733628650
13,Ford High School,District,2739,1763916,99055935,221164,211184,35607,4831365924
14,Thomas High School,Charter,1635,1043130,62705520,137093,136389,22890,1705517550

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.